import init.vivo.usb.rc
import init.vivo.power.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 666 /proc/cmdline

on init
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    export EXTERNAL_STORAGE /storage/sdcard0

    #sd-ext
    mkdir /sd-ext 0700 root root
    export SD_EXT_DIRECTORY /sd-ext

    # Support legacy paths
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    mkdir /storage/primary 0555 root root
    symlink /storage/sdcard0 /storage/primary/legacy

on fs
    mount_all /fstab.vivo
    swapon_all /fstab.vivo

on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    # CyanogenMod SysFS entries
    chown radio system /sys/module/gpio_event/parameters/phone_call_status
    chmod 0664         /sys/module/gpio_event/parameters/phone_call_status
    chown radio system /sys/camera_led_status/led_ril_status
    chmod 0644         /sys/camera_led_status/led_ril_status

    # HTC Camera switch
    chown system camera /sys/android_camera2/htcwc
    chmod 0660          /sys/android_camera2/htcwc

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/voltage_level
 

    # Advanced settings
    chown root system /sys/android_touch/sweep2wake
    chmod 0664 /sys/android_touch/sweep2wake
    chown root system /sys/kernel/fast_charge/force_fast_charge
    chmod 0664 /sys/kernel/fast_charge/force_fast_charge
    chown root system /sys/class/timed_output/vibrator/voltage_level
    chmod 0664 /sys/class/timed_output/vibrator/voltage_level
    chown system system /sys/class/leds/flashlight/soft_flash

    # Power Management
    chmod 0664 /sys/module/pm/parameters/idle_sleep_mode

    # Disable IPv6 over mobile radio
#    write /proc/sys/net/ipv6/conf/rmnet0/disable_ipv6 1
#    write /proc/sys/net/ipv6/conf/rmnet1/disable_ipv6 1
#    write /proc/sys/net/ipv6/conf/rmnet2/disable_ipv6 1

    # HTC SysFS for "Flip to Speaker"
    chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
    chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

    # Optical sensors
    chown system system /sys/class/optical_sensors/lightsensor/ls_adc
    chown system system /sys/class/optical_sensors/lightsensor/ls_auto
    chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
    chown system radio  /sys/class/optical_sensors/proximity/ps_adc
    chown system system /sys/class/optical_sensors/proximity/ps_kadc
    chmod 0666          /sys/class/optical_sensors/proximity/ps_kadc
    chown system system /sys/class/optical_sensors/proximity/ps_led
    chown system system /sys/class/optical_sensors/proximity/ps_test_mode

    # SysFS charging functions
    chown radio radio /sys/class/power_supply/battery/charger_control
    chmod 0660        /sys/class/power_supply/battery/charger_control

    # bluetooth power up/down interface
    chown bluetooth bluetooth /dev/ttyHS0
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state

    # Bluetooth MAC address path
    chown bluetooth bluetooth /sys/module/htc_bdaddress/parameters/bdaddress
    setprop ro.bt.bdaddr_path /sys/module/htc_bdaddress/parameters/bdaddress
    # bluetooth car dock pin
    chown system system /sys/class/switch/dock/bt_pin

    # bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite 

    # liblights permissions
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/button-backlight-portrait/brightness
    chown system system /sys/class/leds/button-backlight-landscape/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0666          /sys/class/leds/flashlight/brightness

    # Allow system to have access to /dev/tun directory
    mkdir /dev/tun 0770 system vpn
    chown system vpn /dev/tun
    chmod 0770 /dev/tun

    # Network tweaks
    write /proc/sys/net/ipv4/tcp_fin_timeout 30
    write /proc/sys/net/ipv4/tcp_keepalive_intvl 30
    write /proc/sys/net/ipv4/tcp_timestamps 1
    write /proc/sys/net/ipv4/tcp_keepalive_time 1200
    write /proc/sys/net/core/rmem_max 524288
    write /proc/sys/net/core/wmem_max 524288
    write /proc/sys/net/ipv4/tcp_tw_reuse 1
    write /proc/sys/net/ipv4/tcp_window_scaling 1
    write /proc/sys/net/ipv4/tcp_mem "8192 87380 524288"

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    chown root system /proc/net/ip_conntrack

    # To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# Compass and accelerometer daemon
service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

# sdcard daemon
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

# Bugreport is triggered by the KEY_VOLUMEUP and BTN_MOUSE keycodes
service bugreport /system/bin/bugmailer.sh -v
    class main
    disabled
    oneshot
    keycodes 114 115 116

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p13 /dev/block/mmcblk0p14
    class main
    user root

service lights_landscape /system/bin/sh /system/etc/rotate_lights.sh 1
    class main
    user root
    disabled
    oneshot

service lights_portrait /system/bin/sh /system/etc/rotate_lights.sh 0
    class main
    user root
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

on property:sys.orientation.landscape=0
    start lights_portrait

on property:sys.orientation.landscape=1
    start lights_landscape

on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

service setup_fs /system/bin/setup_fs mmcblk0p26 mmcblk0p27
    class core
    user root
    group root
    oneshot
